*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;
 }

 .cabecalho{
    /*visibility: hidden;*/
     display: flex;
     flex-direction: row;
     /*background-color: #E5D5B5;*/
     align-items: center;
     justify-content: space-evenly;
     border-bottom: 0.4px solid black;
 }
 
 .cabecalho_menu{
     display: flex;
     flex-direction: row;
     font-weight: 100;
     padding: 14px;
 }
 
 .cabecalho_menu li{
     display: inline-block;
     padding: 10px;
     border-radius: 10px;
     transition: 1s all;
 }
 
 .cabecalho_menu li:hover{
     background: #64AAB9;
     
  }
 
 .cabecalho_menu_link{
     font-family: var(--fonte-primaria);
     font-size: 20px;
     font-weight: 400;
     text-decoration: none;
 }
 .aparece{
     display: none;
     padding: 10px;
     gap:15px;
     flex-direction: column;
     align-items: center;
 }

.aparece1{
     display: none;

 }

 .link{
     font-weight: bold;
 }
 .box-grego{
    background: rgb(255,190,132);
background: linear-gradient(90deg, rgba(255,190,132,1) 0%, rgba(255,138,24,1) 100%);
font-weight: bold;
 }

 .box-roma{
    background: rgb(158,7,143);
background: linear-gradient(90deg, rgba(158,7,143,1) 0%, rgba(232,177,227,0.8141631652661064) 89%);
font-weight: bold;
 }

 .aparece2{
    display: none;
 }

.botao2{
    background-color: #07454B;
}